body {
  font-family: Arial;
  line-height: 1.35em;
}
.container {
  max-width: 600px;
  margin: 2em auto;
}
.movie {
  display: flex;
  border: 2px solid #bbbbbb;
  padding: 1em;
  border-radius: 16px;
  margin-bottom: 1em;
}
.movie img {
  margin-right: 1em;
  max-height: 150px;
  max-width: 100px;
}

.movie-right {
  margin-left: auto;
}

.movie-right a {
  font-size: 1.6em;
  text-decoration: none;
}

.margin-top {
  margin-top: 2em;
}

.margin-bottom {
  margin-bottom: 2em;
}

input {
  font-size: 1.4em;
  margin-top: 0.4em;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding: .5em 1em;
  width: 100%;
}

button {
  padding: 0.6em 1.3em;
  font-size: 1em;
  background-color: mediumblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.dix {
  color: #cccccc;
  font-size: 9em;
  margin-top: 60px;
}

#rating {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 1em;
  height: 15px;
  margin-left: 5.5em;
  margin-top: -21.5px;
  outline: none;
  width: 25.3em;
}

#rating::-moz-range-thumb {
  -moz-appearance: none;
  background-color: mediumblue;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#rating::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: mediumblue;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.save-movie {
  margin-top: 4em;
}

.full-width {
  width: 100%;
}
