body {
  font-family: Arial;
  line-height: 1.35em;
}
.container {
  max-width: 600px;
  margin: 2em auto;
}

.movie {
  display: flex;
  border: 2px solid #bbbbbb;
  padding: 1em;
  border-radius: 16px;
  margin-bottom: 1em;
}
.movie img {
  margin-right: 1em;
  max-height: 150px;
  max-width: 100px;
}

.movie-right {
  margin-left: auto;
}

.movie-right a {
  font-size: 1.6em;
  text-decoration: none;
}

.flippincool {
  margin: 1em;
  display: inline-block;
  background-color: transparent;
  perspective: 1000px;
  width: calc(25% - 2em);
  height: 35vw;
}
@media (max-width: 1150px) {
  .flippincool {
    width: calc(33.33% - 2em);
    height: 47vw;
  }
}
@media (max-width: 800px) {
  .flippincool {
    width: calc(50% - 2em);
    height: 70vw;
  }
}
@media (max-width: 450px) {
  .flippincool {
    width: calc(100% - 2em);
    height: 140vw;
  }
}
.flippincool img {
  max-height: 100%;
  max-width: 100%;
}
.flippincool-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flippincool:hover .flippincool-inner {
  transform: rotateY(180deg);
}
.flippincool-front, .flippincool-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flippincool-back {
  background-color: lightblue;
  transform: rotateY(180deg);
}

.movie-title {
  line-height: normal;
  margin-top: 1.5em;
}
.edit-movie-link {
  font-size: 1.6em;
  text-decoration: none;
}

.margin-top {
  margin-top: 2em;
}

.margin-bottom {
  margin-bottom: 2em;
}

input {
  font-size: 1.4em;
  margin-top: 0.4em;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding: .5em 1em;
  width: 100%;
}

button {
  padding: 0.6em 1.3em;
  font-size: 1em;
  background-color: mediumblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.dix {
  color: #cccccc;
  font-size: 9em;
  margin-top: 60px;
}

#rating {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 1em;
  height: 15px;
  margin-left: 5.5em;
  margin-top: -21.5px;
  outline: none;
  width: 25.3em;
}

#rating::-moz-range-thumb {
  -moz-appearance: none;
  background-color: mediumblue;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#rating::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: mediumblue;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.save-movie {
  margin-top: 4em;
}

.full-width {
  width: 100%;
}
